{% extends 'posts/base.html' %}
{% block content %}
  {% load static %}

  <body>
    <form action="{% url 'tmies:create_tmi_message' tmi_page.year tmi_page.tmi_origin.pk %}" method="POST">
      {% csrf_token %}
      <table>
        {{form.as_p}}
      </table>
      <input type="submit" value="tmi 남기기"/>
    </form>
  </body>
  <footer>
  <div class="detail_page-footer">
    <a class="footer__birthdaypage" href="{% url 'posts:detail_birthday_page' target_birth.year target_birth.pk %}">축하메세지</a>
    <a class="footer__photo" href="{% url 'photos:photo_home' target_photo.year target_photo.photo_origin.pk %}">포토방명록</a>
    <a class="footer__tmi" href="{% url 'tmies:detail_tmi_page' target_tmi.year target_tmi.tmi_origin.pk%}">내 친구의 TMI</a>
    </div>
  </footer>
{% endblock content %}