:root {
  --div-main-color: #fdf8ef; /*아이보리*/
  --div-sub-color: #8ebd5e; /*연두*/
  --div-point-color: #ff574c; /*다홍*/
  --div-dark-font-color: #2d3142;
  --div-dark-opacity-font-color: rgba(45, 49, 66, 0.5);
  --div-light-font-color: #ffffff;
  --div-input-shadow-color: rgba(0, 0, 0, 0.1);
}

.content {
  padding: 3rem 2rem;
}
.create_message--submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  background-color: var(--div-point-color);
  color: var(--div-light-font-color);
  border-radius: 1rem;
  border: 0px;
  height: 3rem;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
  margin: 0.5rem 0px 0px 0px;
}




.errorlist {
  color: var(--div-main-color);
}

#id_nickname {
  border-radius: 1rem;
  border: 0px;
  width: 100%;
  margin: 0.5rem 0px 1rem 0px;
  padding: 0.8rem 1rem 0.8rem 1rem;
  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
  font-family: "Spoqa Han Sans Neo";
}
.create_message--name {
  font-weight: bold;
}

.create_message--send {
  font-weight: bold;
  margin: 0px 30% 0px 0px;
}

#id_message {
  resize: none;
  border-radius: 1rem;
  border: 0px;
  width: 100%;
  margin: 0.5rem 0px 1rem 0px;
  padding: 16px 16px 16px 16px;
  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
  font-family: inherit;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 16px;
  outline: 0;
  width: 16px;
  margin: 0px 0px -2px 5px;
  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
}
input[type="checkbox"]::after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: "";
  display: none;
  height: 40%;
  left: 40%;
  position: relative;
  top: 20%;
  transform: rotate(45deg);
  width: 15%;
  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
}
input[type="checkbox"]:checked {
  background: var(--div-point-color);
}
input[type="checkbox"]:checked::after {
  display: block;
}

.create_message--private {
  font-weight: bold;
}
