.create_birthday_page__form {
  margin: 0 0 0 0px;
}

.create__name {
  margin: 0 0 1rem 0;
}
.create__birthday {
  margin: 0 0 1rem 0;
}
.create__cake {
  margin: 0 0 1rem 0;
}

.create__name__text {
  font-weight: bold;
}
.create__birthday__text {
  margin: 1rem 0 0 0 0;
  font-weight: bold;
}
.create__cake__text {
  margin: 0 0 0.5rem 0;
  font-weight: bold;
}
#id_nickname {
  font-family: "Spoqa Han Sans Neo";
  width: 100%;
  height: auto;
  line-height: normal;
  padding: 0.8rem 1rem 0.8rem 1rem;
  box-shadow: 4px 3px 6px -3px var(--div-input-shadow-color);
  border: 0px;
  border-radius: 1rem;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;
}
.create__birthday select {
  width: 30%;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 0px;
  font-size: 12px;
  box-shadow: 4px 3px 6px -3px var(--div-input-shadow-color);
  border-radius: 1rem;
  font-family: "Spoqa Han Sans Neo";
}

#id_birthday_year {
  margin: 0px 0.1rem 0 0.4rem;
}
#id_birthday_month {
  margin: 0px 0.1rem 0 0.4rem;
}
#id_birthday_day {
  margin: 0px 0.1rem 0 0.4rem;
}
#select__year {
  color: lightgrey;
}
#id_birthday {
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 0px;
  font-size: 12px;
  box-shadow: 4px 3px 6px -3px var(--div-input-shadow-color);
  border-radius: 1rem;
  font-family: "Spoqa Han Sans Neo";
  color: var(--div-dark-opacity-font-color);
  margin-top: 0.5rem;
}

.create__birthday__sub-text{ 
  color: var(--div-point-color);
  font-size: 12px;
  margin-bottom:1rem;
}

.archive__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  color: var(--div-dark-opacity-font-color);
  border-radius: 10px;
  border: 0px;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  cursor: pointer;
  margin-bottom:2rem;
}
