.footer__birthdaypage {
  width: 30%;
  padding: 0 5% 0 3%;

  font-size: 14px;
}

.footer__photo {
  width: 30%;
  padding: 0 5% 0 5%;
  
  font-size: 14px;
}
.footer__tmi {
  width: 30%;
  padding: 0 3% 0 5%;
  font-size: 14px;
  color: var(--div-point-color);
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.detail_page-footer {
  width: 100%;
  text-align: center;
  background-color: var(--div-light-font-color);
  margin: auto;
}

.footer__style {
  display: none;
}
