.content{
    padding: 3rem 0;
    background: var(--div-main-color);
    padding-bottom: 0;
}

.archive{
    padding:0 2rem;
}

.archive__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    background-color: white;
    color: var(--div-dark-opacity-font-color);
    border-radius: 10px;
    border: 0px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom:3rem;
}

.archive p{
    padding:1rem;
}

.text--waiting__title  {
    font-size:1.5rem;
    font-weight:700;
    line-height: 2rem;
}

.text--waiting {
    padding:0 2rem;
}

.text--waiting > * {
    padding-bottom: 1rem;
}

.text--waiting__description {
    font-size: 1.25rem;
    font-weight:500;
}

.highlight{
    color:var(--div-point-color);
}

.bold{
    font-weight:700;
}

.text--activate{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    padding-bottom: 4rem;
}

.text--activate button {
    font-family:inherit;
    font-weight:400;
    color:var(--div-sub-color);
    font-size:0.75rem;
    text-align: right;
}

.text--activate__date-diff {
    font-weight:700;
}

.text--activate__date-diff__line, .text--waiting__title__line{
    display:flex;
}

.image--activate{
    text-align: center;
    padding-bottom : 2rem;
}

.text-main--activate {
    text-align:center;
    font-size:1.5rem;
    font-weight:700;
    padding-bottom : 4rem;
}

.text-main--activate h1 {
    animation: bounce-top 1s both;
}

@keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  

.text-main--activate h6 {
    font-size:1rem;
    font-weight:500;
    padding:0 2rem;
    padding-top:1rem;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.messages__wave-pattern{
    display:block;
    width: 100%;
    overflow: hidden;
}

.messages__content{
    padding:3rem 2rem;
}

.strawberry{
    background-color:var(--div-strawberry-color);
}

.choco{
    background-color:var(--div-choco-color);
}

.messages__content li {
    display: flex;
    justify-content: space-between;
    color:var(--div-light-font-color);
    padding-bottom:2rem;
}

.message__nickname{
    font-weight:700;
    display: flex;
    align-items: center;
}

.message__nickname img{
    padding-right:0.3rem;
}

.message__message{
    font-weight:300;
    margin-left: 4rem;
}

.message__nickname-delete-btn {
    display:flex;   
    justify-content: space-between;
    padding: 0.7rem 0;
    width: 100%;
}

.message__profile {
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}

.messages__content hr {
    border: 0px;
    height: 0.05rem;
    background-color: rgb(225,225,225,0.5);
    margin-bottom: 2rem;
}

.message__content__top{
    display:flex;
    padding-bottom:1rem;
}

.messages__content__message{
    width: 100%;
}

.strawberry-text {
    color:var(--div-strawberry-color);
}

.choco-text{
    color:var(--div-choco-color);
}
