@import url("./login.css");
.nav-bottom__content__birthdaypage {
  width: 30%;
  padding: 0 5% 0 3%;
  font-size: 14px;
}

.nav-bottom__content__photo {
  width: 30%;
  padding: 0 5% 0 5%;
  font-size: 14px;
}
.nav-bottom__content__tmi {
  width: 30%;
  padding: 0 3% 0 5%;
  font-size: 14px;
  color: var(--div-point-color);
}

.nav-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  max-width: 480px;
  transform: translate(-50%, 0);
}

.nav-bottom__content {
  width: 100%;
  text-align: center;
  background-color: var(--div-light-font-color);
  height: 4rem;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 1rem;
  height: 5.5rem;
}

.nav-bottom__content img {
  width: inherit;
}

.content {
    padding: 3rem 2rem;
  }

.text__title {
    font-size:1.5rem;
    font-weight:700;
}

.text > * {
    padding-bottom: 1rem;
}

.text__description {
    padding-top: 0.5rem;
}

.detail_tmi--submit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    background-color: var(--div-point-color);
    color: var(--div-light-font-color);
    border-radius: 1rem;
    border: 0px;
    height: 2.5rem;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
    padding: 0px 16px 0 16px;
}
.tmi_message{
    border:1px;
    
}
.tmi-empty{
    color: var(--div-dark-opacity-font-color);
    font-weight: 700;
    margin: 0.5rem 0 0px 0px;
}

.messages {
  padding-top:2rem;
}


 /* 로그인 모달 */
 .modal__login{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items : center;
}
.modal__login__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; height: 100%;
  position: absolute;
}
.modal__login__content {
  position: relative;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
  padding: 2.5rem 0;
}

.modal__login__content__title {
  color : var(--div-point-color);
  font-weight: 700;
  font-size:1rem;
}

.modal__login__content__description {
  font-size: 0.875rem;
  padding: 1.8rem 3rem;
  padding-top: 0.8rem;
}

.login__social_login{
  margin:0
}

.login__no{
  font-size:0.875rem;
  border-radius: 1rem;
  background-color: var(--div-input-shadow-color);
  color: #3a1d1d;
  margin: 1rem 2rem;
  margin-top:0;
  width:13rem;
  height:2.5rem;
  cursor: pointer;
  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__yes{
  font-size:0.875rem;
  border-radius: 1rem;
  background-color: var(--div-point-color);
  margin: 1rem 2rem;
  margin-top:0;
  width:13rem;
  height:2.5rem;
  cursor: pointer;
  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__no__text{
  font-weight: 700;
  color:var(--div-dark-font-color);
  opacity: 50%;
}

.login__yes__text{
  font-weight: 700;
  color:var(--div-light-font-color);
}


.hidden{
  display:none;
}

.description__line{
  display:flex;
  justify-content: center;
}

.bold{
  font-weight:700;
}


/* 메세지 영역*/
.message_area{
  display:flex;
  justify-content: center;
}

.message_content{
  width: 15rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-right: 0.5rem;
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.1);
}

.message_content p {
  font-size: 1rem;
  overflow:hidden;
  word-wrap:break-word;
}

.message_side {
  display: flex;
  flex-direction: column;
  width: 3rem;
}
.like_area {
  display: flex;
  align-items: center;
}

.message_like{
  font-size: 0.7rem;
  overflow: auto;
  text-overflow: clip;
}

.message_delete{
  display: flex;
  align-items: center;
}

.delete_text{
  font-size: 0.7rem;
}