:root {
  --div-main-color: #fdf8ef; /*아이보리*/
  --div-sub-color: #8ebd5e; /*연두*/
  --div-point-color: #ff574c; /*다홍*/
  --div-dark-font-color: #2d3142;
  --div-dark-opacity-font-color: rgba(45, 49, 66, 0.5);
  --div-light-font-color: #ffffff;
  --div-input-shadow-color: rgba(0, 0, 0, 0.1);
}

#id_nickname {
  width: 100%;
  height: auto;
  line-height: normal;
  font-family: "Spoqa Han Sans Neo";

  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
  border: 0px;
  border-radius: 1rem;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;
  margin: 8px 0 8% 0px;
  font-family: "Spoqa Han Sans Neo";
}
.content {
  padding: 3rem 2rem;
}
.edit_mypage--name {
  margin: 1rem 0 0.5rem 0;
  font-weight: bold;
}
.edit_mypage--theme {
  margin: 0px 0px 1rem 0;
}

.edit_mypage--theme--text {
  margin: 1rem 0 0.5rem 0;
  font-weight: bold;
}
.editmypage--submit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    background-color: var(--div-point-color);
    color: var(--div-light-font-color);
    border-radius: 1rem;
    border: 0px;
    height: 2.5rem;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
    margin: 0.5rem 0 0 0;
}
