:root {
  --div-main-color: #fdf8ef; /*아이보리*/
  --div-sub-color: #8ebd5e; /*연두*/
  --div-point-color: #ff574c; /*다홍*/
  --div-dark-font-color: #2d3142;
  --div-dark-opacity-font-color: rgba(45, 49, 66, 0.5);
  --div-light-font-color: #ffffff;
  --div-input-shadow-color: rgba(0, 0, 0, 0.1);
}

.content {
  padding: 3rem 2rem;
}

.mypage__profile--image {
  text-align: center;
}

.mypage__profile--image img {
  width:4rem;
}

.mypage__profile--name {
  text-align: center;
  font-weight: bold;
  margin: 0.8rem 0 1.5rem 0;
}

.mypage__line {
  height: 2px;
  background-color: var(--div-dark-font-color);
}

.text__top{
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 0;
  padding-top:2rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.second {
  padding-top:2rem;
}
.mypage__edit_mypage {
  color: var(--div-point-color);
  font-size: 1rem;
  font-weight: bold;
  float: right;
}
.mypage__go-to-my-birthday-page, .mypage__go-to-past-birthday-page{
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  background-color: var(--div-point-color);
  color: var(--div-light-font-color);
  border-radius: 0.8rem;
  border: 0px;
  height: 2.5rem;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
  text-align: left;
  padding-left: 1rem;
}

.mypage__go-to-past-birthday-page{ 
  background-color: var(--div-sub-color);
}
.mypage__info-text {
  color: var(--div-dark-opacity-font-color);
  font-weight: bold;
  font-size: 1rem;  
  padding-left: 0.2rem;
}

.mypage__info__sub-text {
  color: var(--div-sub-color);
  font-size: 12px;
  padding: 0.5rem 0.2rem;
}

.mypage__info__sub-text-make {
  color: var(--div-point-color);
  font-size: 12px;
  padding: 0.5rem 0.2rem;
}

.mypage__go-to-make-page{ 
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  background-color: var(--div-point-color);
  color: var(--div-light-font-color);
  border-radius: 0.8rem;
  border: 0px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
  text-align: center;
  padding: 0.5rem 1.8rem;
}

.waiting {
  background-color:var(--div-dark-opacity-font-color);
}

form {
  padding-bottom:1rem;
}