@import url("./login.css");


.photo_icon img {
    width: 16%;
    padding-bottom: 0.5rem;
    padding-left: 0.2rem;
}

.text__title {
    font-size:1.5rem;
    font-weight:700;
}

.text > * {
    padding-bottom: 1rem;
    padding-top : 0.3rem;
}

.text__description {
    padding-top: 0.5rem;
}

.images {
    padding-top:2rem;
    padding-bottom: 9rem;
}

.images__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap : 1rem;
    row-gap:2rem;
}

.images__item p {
    text-align: end;
}

.images__item__polaroid {
    background-color: white;
    padding:1rem;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.1);
}

.images__item__polaroid p {
    text-align: center;
}

.images__item__delete-btn {
    margin: 0.3rem 0.3rem;
}

.images__item__delete-btn button {
    font:inherit;
    font-size:0.875rem;
    color:var(--div-dark-opacity-font-color)
}

.images__item__polaroid p img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

@font-face {
    font-family: 'SANGJUDajungdagam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUDajungdagam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.images__item__polaroid h3 {
    font-family: 'SANGJUDajungdagam';
    padding: 1rem 0.2rem;
    padding-bottom: 0;
}

.images__item {
    position:relative;
}

.images__item__pin { 
    position: absolute;
    left: 46%;
    bottom: 77%;
    width: 8%;
}

.images__item__sticker {
    position: absolute;
    left: 46%;
    bottom: 78%;
    width: 1rem;
    height: 2.8rem;
}

.images__padding {
    height:2rem;
}

.images--empty img {
    width: 38%;
}

.images--empty {
    color: var(--div-dark-opacity-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    opacity: 50%;
    height: calc(var(--vh, 1vh) * 50);
}

.images--empty h1{
    font-size:1rem;
    font-weight:700;
    padding-bottom:1rem;
}

.images--empty h6 {
    font-size:0.875rem;
    font-weight:300;
    padding-bottom:2rem;
}

.archive {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    background-color: white;
    color: var(--div-dark-opacity-font-color);
    border-radius: 10px;
    border: 0px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom:3rem;
}

.archive p{
    padding:1rem;
}

#modal__images {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--div-dark-font-color)
}

.modal__images__content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal__images__content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.modal__images--close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 40px;
    transition: 0.3s;
}

.modal__images__content {
    width: 100%;
  }

  
.modal__delete{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}
.modal__delete__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%; height: 100%;
    position: absolute;
}
.modal__delete__content {
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
    padding-bottom: 0;
    padding-top: 2rem;
}

.hidden {
    display: none;
}

.modal__delete__content__title {
    color : var(--div-point-color);
    font-weight: 700;
    font-size:1rem;
}

.modal__delete__content__description {
    font-size:0.875rem;
    padding: 2rem;
    padding-top: 1.2rem;
}

.modal__delete__content__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.2rem;
    border-top: 1px solid var(--div-input-shadow-color);
}
.modal__delete__content__btns > *{
    font-size:1rem;
    font-weight:700;
    font-family:inherit;
}

.nav-bottom__content__birthdaypage {
    width: 27%;
    padding: 0 4% 0 1%;
    font-size: 11px;
    
  }
  
  .nav-bottom__content__photo {
    width: 28%;
    padding: 0 3% 0 3%;
    font-size: 11px;
    color: var(--div-point-color);
  }
  .nav-bottom__content__tmi {
    width: 29.5%;
    padding: 0 1% 0 4%;
    font-size: 11px;
  }
  
  .nav-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    max-width: 480px;
    transform: translate(-50%, 0);
  }
  
  .nav-bottom__content {
    width: 100%;
    text-align: center;
    background-color: var(--div-light-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
  }
  
  .nav-bottom__content h6 {
    margin-block-start: -0.8em;
    margin-block-end: -1.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .nav-bottom__content img {
    width: inherit;
  }
  /* 로그인 모달 */
.modal__login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}
.modal__login__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%; height: 100%;
    position: absolute;
}
.modal__login__content {
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
    padding: 2.5rem 0;
}

.modal__login__content__title {
    color : var(--div-point-color);
    font-weight: 700;
    font-size:1rem;
}

.modal__login__content__description {
    font-size: 0.875rem;
    padding: 1.8rem 3rem;
    padding-top: 0.8rem;
}

.login__social_login{
    margin:0
}

.login__no{
    font-size:0.875rem;
    border-radius: 1rem;
    background-color: var(--div-input-shadow-color);
    color: #3a1d1d;
    margin: 1rem 2rem;
    margin-top:0;
    width:13rem;
    height:2.5rem;
    cursor: pointer;
    box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__yes{
    font-size:0.875rem;
    border-radius: 1rem;
    background-color: var(--div-point-color);
    margin: 1rem 2rem;
    margin-top:0;
    width:13rem;
    height:2.5rem;
    cursor: pointer;
    box-shadow: 0px 2px 10px -1px var(--div-input-shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__no__text{
    font-weight: 700;
    color:var(--div-dark-font-color);
    opacity: 50%;
}

.login__yes__text{
    font-weight: 700;
    color:var(--div-light-font-color);
}


.hidden{
    display:none;
}

.description__line{
    display:flex;
    justify-content: center;
}

.bold{
    font-weight:700;
}

.content{
    padding-top:4rem;
}
