{% extends 'posts/base.html' %} {% load socialaccount %} {% block content %}
<script>
  $.ajaxSetup({
    headers: { "X-CSRFToken": "{{csrf_token}}" },
  });
</script>

<div class="background">
  <div class="login--main">
    <span class="title">LOGIN</span>

    <form method="POST" action="" class="form--content">
      {% csrf_token %}
      <!-- 어떤 것을 받아올지는 view에 있는 context를 확인하면 됨(이름을 받아와야함) -->
      <div class="username"><span>Username: </span> {{form.username}}</div>
      <div class="password"><span>Password: </span> {{form.password}}</div>
      <div class="btn">
        <input type="submit" value="login" class="submit--button" />
      </div>
    </form>
    <form action="{% provider_login_url 'google' %}" method="post">
      {% csrf_token %}
      <button type="submit">google 로그인</button>
    </form>
    <form action="{% provider_login_url 'naver' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="naver-btn">naver 로그인</button>
    </form>
    <form action="{% provider_login_url 'kakao' %}" method="post">
      {% csrf_token %}
      <button type="submit">kakao 로그인</button>
    </form>
  </div>
</div>
{% endblock content %}
