{% extends 'posts/base.html' %}
{% block content %}
  {% load static%}
  <head>
    <link rel="stylesheet" href="{% static 'css/photo_home.css' %}" />
  </head>
  <body>
    <div class="content">
    {% if photo_page.state == "deactivate" %}
        <script type="text/javascript">
          alert('아직 생일 페이지가 활성화되지 않았어요!')
          window.location.href = '{% url 'posts:main' %}';
        </script>
      {% elif photo_page.state == "activate" or photo_page.state == "archive" %}
        {% if photo_page.state == "archive" %}
          <div class="archive">
            <p>
                {{name}}님의
                {{year}}년 포토 방명록 페이지입니다.
            </p>
            
          </div>
        {%endif%}
        <div class="text">
            <h1 class="text__title">포토방명록</h1>
            <p class="text__description">
                보여주고 싶은 사진으로</br>축하를 남겨보세요!
            </p>
        </div>
        <div class="images">
            {% if photos %}
            <div class="images__container">
              {% for photo in photos %}
                <div class="images__item">
                    <img class="images__item__pin rotate" src="{% static 'img/pin.png' %}" alt="">
                    {% if is_owner or request.user == photo.photo_uploader %}
                        {% if not photo_page.state == "archive" %}
                            <p class="images__item__delete-btn">
                                <button id={% url 'photos:photo_delete' photo.id %} class="delete-btn">
                                  삭제
                                </button>
                            </p>
                        {% endif %}
                    {% else %}
                        <p class="images__item__delete-btn">　</p>
                    {% endif %}
                    <div class="images__item__polaroid">
                        <p><img class="images__item__image" src=" {{photo.req_photo.url}}" alt=""></p>
                        <h3>{{photo.title}}</h3>
                    </div>
                </div>
              {% endfor %}
          </div>
        </div>
            {% else %}
                <div class="images--empty">
                    아직 남겨진 포토 방명록이 없어요.
                </div>
            {% endif %}
        {% if not is_owner%}
          {% if not photo_page.state == "archive"%}
                <a class="floating-btn" href="{% url 'photos:photo_create' year pk %}">
                  <div class="floating-btn__text">포토 방명록 남기기</div>
                </a>          
          {% endif %}
        {% endif %}
       
        {% if photo_page.state == "activate" or photo_page.state == "archive"%}
              <!-- 하단 메뉴 표시되도록 하는 부분. -->
          <footer>
            <div><a href="{% url 'posts:detail_birthday_page' target_birth.year target_birth.owner.pk %}">축하메세지</a></div>
            <div><a href="{% url 'photos:photo_home' target_photo.year target_photo.photo_origin.pk %}">포토방명록</a></div>
            <div><a href="{% url 'tmies:detail_tmi_page' target_tmi.year target_tmi.tmi_origin.pk%}">내 친구의 TMI</a></div>
          </footer>
        {%endif %}
    {% endif %}
    </div>
  </body>
    <!-- 이미지 크게 보기 모달 -->
    <div id="modal__images">
        <span class="modal__images--close"><img src="{% static 'img/icon/close.svg' %}" alt=""></span>
        <img class="modal__images__content" id="image-original">
    </div>
    
    <!--삭제 모달-->
    <div class="modal__delete hidden">
      <div class="modal__delete__overlay"></div>
      <div class="modal__delete__content">
        <span class="modal__delete__content__title">정말 삭제하시겠어요?</span>
        <div class="modal__delete__content__description">
          삭제한 포토 방명록은 되돌릴 수 없어요.
        </div>
        <div class="modal__delete__content__btns">
          <button class="modal__delete__cancel">취소</button>
          <a href="" class="modal__delete__confirm">삭제</a>
        </div>
      </div>
    </div>

    <script>
        //나무집게 랜덤 회전
        var randomList = ['-10', '-7', '-5', '5', '7', '10']
        const getRandom = (min, max) => Math.random() * (max - min) + min;
        var rand;
        var pin = document.getElementsByClassName("rotate")
        for (i=0; i<pin.length; i++) {
            rand = randomList[Math.floor(Math.random()*randomList.length)];
            console.log(rand)
            pin[i].style.transform = 'rotate('+rand+'deg)';
        }

        //사진 클릭 시 크게 보기
        var modalImages = document.getElementById("modal__images");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementsByClassName("images__item__image");
        var imgOriginal = document.getElementById("image-original");
        for (i=0; i<img.length; i++) {
            img[i].onclick = function(){
                modalImages.style.display = "block";
                imgOriginal.src = this.src;
            }
        }
        
        var span = document.getElementsByClassName("modal__images--close")[0];
        span.onclick = function() {
            modalImages.style.display = "none";
        }
        var background = document.getElementById("modal__images");
        background.onclick = function() {
            modalImages.style.display = "none";
        }

        //삭제 모달
        const openButton = document.getElementsByClassName("delete-btn");
        const modalDelete = document.querySelector(".modal__delete");
        const cancelButton = modalDelete.querySelector(".modal__delete__cancel");
        const deleteButton = modalDelete.querySelector(".modal__delete__confirm");

        const openModalDelete = (e) => {
          deleteButton.href = e.target.id;
          modalDelete.classList.remove("hidden");
        }
        const cancelModalDelete = () => {
          modalDelete.classList.add("hidden");
        }

        for (i=0; i<openButton.length; i++) {
          openButton[i].addEventListener("click", openModalDelete);
        }
        cancelButton.addEventListener("click", cancelModalDelete);

    </script>
  {% endblock %}
