{% extends 'posts/base.html' %} {% block content %} {% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/create_birthday_page.css' %}" />
</head>
<body>
    {% if photos %}
        {% for photo in photos %}
            <article>
                <h1>
                    {{photo.title}}
                </h1>
                <p>
                <img src=" {{photo.req_photo.url}}" alt="">
                </p>
            </article>
            {% if is_owner %}
                <span>
                <a href="{% url 'photos:photo_delete' photo.id %}">삭제</a>
                </span>
            {% endif %}
        {% endfor %}
    {% else %}
        <div>
          아직 올라온 사진이 없어요 😢
        </div>
    {% endif %}
    <div>
    <a href="{% url 'photos:photo_create' pk %}">사진 올리기</a>
    </div>
</body>
</html>
{% endblock %}