{% extends 'posts/base.html' %}
{% block content %}
  {% load static%}
  <head>
    <link rel="stylesheet" href="{% static 'css/photo_home.css' %}" />
  </head>
  <body>
    <div class="content">
      {% if photo_page.state == "deactivate" %}
        <script type="text/javascript">
          alert('아직 생일 페이지가 활성화되지 않았어요!')
          window.location.href = '{% url 'posts:main' %}';
        </script>
      {% elif photo_page.state == "activate" or photo_page.state == "archive" %}
        {% if photo_page.state == "archive" %}
          <div>
            {{name}}님의
            {{year}}년 포토 방명록 페이지입니다
          </div>
        {%endif%}
        <div class="text">
            <h1 class="text__title">포토방명록</h1>
            <p class="text__description">
                보여주고 싶은 사진으로</br>축하를 남겨보세요!
            </p>
        </div>
        <div class="images">
            {% if photos %}
            <div class="images__container">
              {% for photo in photos %}
                <div class="images__item">
                    <img class="images__item__pin rotate" src="{% static 'img/pin.png' %}" alt="">
                    {% if is_owner or request.user == photo.photo_uploader %}
                        {% if not photo_page.state == "archive" %}
                            <p class="images__item__delete-btn"><a href="{% url 'photos:photo_delete' photo.id %}">x</a></p>
                        {% endif %}
                    {% else %}
                        <p class="images__item__delete-btn">　</p>
                    {% endif %}
                    <div class="images__item__polaroid">
                        <p><img src=" {{photo.req_photo.url}}" alt=""></p>
                        <h3>{{photo.title}}</h3>
                    </div>
                </div>
              {% endfor %}
          </div>
        </div>
            {% else %}
                <div class="images--empty">
                    아직 남겨진 포토 방명록이 없어요.
                </div>
            {% endif %}
      {% if not is_owner%}
        {% if not photo_page.state == "archive"%}
            <div class="floating-btn">
            <a class="" href="{% url 'photos:photo_create' year pk %}">포토 방명록 남기기</a>
            </div>
        {% endif %}
      {% endif %}   
    </div>
  </body>
    {%endif %}
    <script>
        var randomList = ['-10', '-7', '-5', '5', '7', '10']
        const getRandom = (min, max) => Math.random() * (max - min) + min;
        var rand;
        var pin = document.getElementsByClassName("rotate")
        for (i=0; i<pin.length; i++) {
            rand = randomList[Math.floor(Math.random()*randomList.length)];
            console.log(rand)
            pin[i].style.transform = 'rotate('+rand+'deg)';
        }
    </script>
  {% endblock %}
