<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- meta -->
    <meta property="og:url" content="https://chookapoka.com/">
    <meta property="og:title" content="추카포카">
    <meta property="og:type" content="website">
    <meta property="og:image" content="static\img\og-image.jpg">
    <meta property="og:description" content="여기다 뭐라고 쓸까?">
    <link rel="icon" href="/static/img/page_logo/favicon.png">

    <title>추카포카</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  </head>

  <body>
    {% if user.is_authenticated %}
          <nav>
            <div class="nav__left">
              <a href="/"><img class="nav__logo" src="{% static 'img\page_logo\logo-dark.png' %}" alt=""></a>
            </div>
            <div class="navbar_dropdown">
              <button onclick="dropdown_menu()" class="dropdown__btn">
                <img src="{% static 'img/icon/nav.svg' %}">
              </button>
              <div style="display:none" id="dropdown_content">
                <div class="dropdown__opacity"></div>
                <div class="dropdown__box">
                  <button onclick="dropdown_menu()" class="dropdown__btn--x">
                    <img src="{% static 'img/icon/close.svg' %}">
                  </button>
                  {% if user.nickname %}
                    <a href="{% url 'posts:main_mypage'%}"><img src="{% static 'img/icon/user.svg' %}">
                      {{user.nickname}} 님</a>
                  {% else %}
                    <a href="{% url 'posts:main_mypage'%}"><img src="{% static 'img/icon/user.svg' %}">
                      {{user.username}} 님</a>
                  {% endif %}
                  <!-- 내페이지 링크 연결 -->
                  <div>
                    <img class="dropdown__wave-pattern" src="{% static 'img\wave-pattern-nav-bar.svg' %}">
                    <div id="dropdown__background">
                      <a href="{% url 'posts:main_mypage'%} " id="dropdown__mypage">마이페이지</a>
                      <a href="mailto:eastlaw80@naver.com" id="dropdown__btn--service">1:1 문의하기</a>
                      <a href="{% url 'users:log_out'%}" id="dropdown__btn--logout">로그아웃</a>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </nav>
        {% else %}
          <nav>
            <div class="nav__left">
              <a href="/"><img class="nav__logo" src="{% static 'img\page_logo\logo-dark.png' %}" alt=""></a>
            </div>
            <div class="navbar_dropdown">
              <button onclick="dropdown_menu()" class="dropdown__btn">
                <img src="{% static 'img/icon/nav.svg' %}">
              </button>
              <div style="display: none" id="dropdown_content">
                <div class="dropdown__opacity"></div>
                <div class="dropdown__box">
                  <button onclick="dropdown_menu()" class="dropdown__btn--x">
                    <img src="{% static 'img/icon/close.svg' %}">
                  </button>
                <a href="/login/?next={{ request.path }}" class="dropdown__btn--login"><img src="{% static 'img/icon/user.svg' %}">
                  로그인 하기 ></a>
                  <img class="dropdown__wave-pattern" src="{% static 'img\wave-pattern-nav-bar.svg' %}">
                  <div id="dropdown__background">
                  <a href="mailto:eastlaw80@naver.com" id="dropdown__btn--service">1:1 문의하기</a>
                  </div>
              </div>
            </div>
          </nav>
        {% endif %}
    <div class="wrap">
      
      <div class="screen">
        
        {% block content %}{% endblock %}
      </div>
    </div>
    <script>
      function dropdown_menu() {
        let click = document.getElementById("dropdown_content");
        if (click.style.display === "none") {
          click.style.display = "block";
        } else {
          click.style.display = "none";
        }
        const background = document.getElementsByClassName("dropdown__opacity")[0]
        background.onclick = function () {
          click.style.display = "none";
        }
      }
    </script>
</body>

</html>