{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/create_birthday_page.css' %}" />

    <script
      src="https://kit.fontawesome.com/f578b19b63.js"
      crossorigin="anonymous"
    ></script>
    <title></title>
  </head>
  <body>
    <form action="/create" method="POST">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
      <input type="submit" value="생성하기" />
    </form>
  </body>
</html>
