{% extends 'posts/base.html' %} {% block content %} {% load static %}
<script>
  $.ajaxSetup({
    headers: { "X-CSRFToken": "{{csrf_token}}" },
  });
</script>
<head>
  <link rel="stylesheet" href="{% static 'css/create_birthday_page.css' %}" />
</head>
<body>
  <div class="content">
    <form action="/create" method="POST" class="create_birthday_page__form">
      {% csrf_token %}
      <div class="create__name">
        <div class="create__name__text">이름을 알려주세요.</div>
        <div>
          <input type="text" name="nickname" maxlength="10" required="" id="id_nickname" Placeholder="이름도, 닉네임도 좋아요.                                                  0/10"> 

          {% comment %} {{form.full_name}} {% endcomment %}
      </div>
      <div class="create__birthday">
        <div class="create__birthday__text">생일을 알려주세요.</div>
        <input type="date" name="birthday" required="" id="id_birthday">
    </div>
      <div class="create__cake">
        <div class="create__cake__text">페이지를 장식할 케이크 테마를 선택해주세요.</div>
        <div><ul id="id_selected_cake">
          <li><label for="id_selected_cake_0"><input type="radio" name="selected_cake" value="초코 케이크" required="" id="id_selected_cake_0">
       초코</label>
      
      </li>
          <li><label for="id_selected_cake_1"><input type="radio" name="selected_cake" value="딸기 케이크" required="" id="id_selected_cake_1">
       딸기</label>
      
      </li>
          <li><label for="id_selected_cake_2"><input type="radio" name="selected_cake" value="치즈 케이크" required="" id="id_selected_cake_2">
       치즈</label>
      
      </li>
      </ul></div>
      </div>
      <input type="submit" value="제출하기" class="primary-btn" id="birthday_create_page--submit"/>
    </form>
  </div>
</body>
{% endblock content %}
