{% extends 'posts/base.html' %}
{% block content %}
  {% load static%}
  {% load socialaccount %}
  <head>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/detail_birthday_page.css' %}" />
  </head>
  <body>
    <div class="content" id="screenshot">
        <div>
          <!--아카이브 상태 표시-->
          {% if birthday_page.state == "archive" %}
            <div class="archive">
              <div class="archive__text">
                {% if is_owner %}
                <p>
                  {{name}}님의 {{year}}년 생일 페이지입니다.
                </p>
              {% else %}
                <p>
                  {{name}}님의 생일이 지나서 메시지를 남길 수 없어요. 내년에도 축하해주실거죠?
                </p>
              {%endif%}
              </div>
            </div>
          {%endif%}

          {% if birthday_page.state == "waiting"%}
            <div class="text--waiting">
              <div class="text--waiting__title">
                <div class="text--waiting__title__line">
                  <h1 class="text--waiting__title--highlight">{{name}}</h1>
                  <h1>님의 생일</br></h1>
                </div>
                <div class="text--waiting__title__line">
                  <h1 class="highlight">{{birthday}}</h1>
                  <h1>까지</h1>
                </div>
                <div class="text--waiting__title__line">
                  <h1 class="highlight">{{date_diff}}</h1>
                  <h1>일 남았어요!</h1>
                </div>
              </div>
              
              <p class="text--waiting__description">
                생일 페이지는</br>생일 7일 전 부터 개설돼요.</br>조금만 기다려 주세요!
              </p>
            </div>
          {% else %}
            <!-- 디데이 -->
            <div class="text--activate">
              <span class="text--activate__date-diff">
                <h6 class="highlight">{{birthday}}</h6>
              {% if birthday_page.state == "today" %}
                <h6 class="highlight">오늘 생일</h6>
              {% else %}
                <div class="text--activate__date-diff__line">
                  <h6>생일까지&nbsp</h6>
                  <h6 class="bold">D-{{ date_diff }}</h6>
                </div>
              {% endif %}
              </span>
              <!-- 스크린샷 버튼 -->
              {% if birthday_page.state != "waiting" and is_owner %}
                <div>
                  <button onclick="screenshot()" type="button" id="save">
                    <img src="{% static 'img\icon\capture.svg' %}" alt="">
                    <h6 data-html2canvas-ignore="true">전체 캡쳐</h6>
                  </button>
                </div>
              {% endif %}
              
            </div>
            <div class="image--activate">
              <!-- 케이크 -->
              {% if messages.count >= 0 %}
                  {% if target == "초코" %}
                    {% if messages.count <= 5 %}
                    <img src="{% static 'img\cake\cake-choco-01.png' %}">
                    {% elif messages.count <= 10 %}
                    <img src="{% static 'img\cake\cake-choco-02.png' %}">
                    {% elif messages.count <= 15 %}
                    <img src="{% static 'img\cake\cake-choco-03.png' %}">
                    {% elif messages.count <= 20 %}
                    <img src="{% static 'img\cake\cake-choco-04.png' %}">
                    {% endif %}
                  {% elif target == "딸기"%}
                    {% if messages.count <= 5 %}
                    <img src="{% static 'img\cake\cake-strawberry-01.png' %}">
                    {% elif messages.count <= 10 %}
                    <img src="{% static 'img\cake\cake-strawberry-02.png' %}">
                    {% elif messages.count <= 15 %}
                    <img src="{% static 'img\cake\cake-strawberry-03.png' %}">
                    {% elif messages.count <= 20 %}
                    <img src="{% static 'img\cake\cake-strawberry-04.png' %}">
                    {% endif %}
                  {% elif target == "치즈"%}
                    {% if messages.count <= 5 %}
                    <img src="{% static 'img\cake\cake-carrot-01.png' %}">
                    {% elif messages.count <= 10 %}
                    <img src="{% static 'img\cake\cake-carrot-02.png' %}">
                    {% elif messages.count <= 15 %}
                    <img src="{% static 'img\cake\cake-carrot-03.png' %}">
                    {% elif messages.count <= 20 %}
                    <img src="{% static 'img\cake\cake-carrot-04.png' %}">
                    {% endif %}
                  {% endif %}
              {% endif %}
            </div>

            <div class="text-main--activate">
              {% if target == "딸기" %}
              <h1 class="strawberry-text">{{ name }}님, 생일 축하드려요!</h1>
              {% elif target == "초코" %}
              <h1 class="choco-text">{{ name }}님, 생일 축하드려요!</h1>
              {% endif %}
              <h6>소중한 생일을 맞이한 {{name}}님에게<br/>따뜻한 축하의 메시지를 남겨주세요.</h6>
            </div>

            <!-- 메시지 -->
            <div class="messages">
              {% if target == "딸기" %}
                <img class="messages__wave-pattern" src="{% static 'img\wave-pattern-strawberry.svg' %}">
                <div class="messages__content strawberry">
              {% elif target == "초코"%}
                <img class="messages__wave-pattern" src="{% static 'img\wave-pattern-choco.svg' %}">
                <div class="messages__content choco">
              {% endif %}
                {% if messages %}
                <!--
                {% if birthday_page.state == "archive"%}
                  <span> {{name}} 님의 지난 생일을 축하했던 메시지들이에요!<span>
                {% else %}
                  <span>{{name}}님의 생일을 축하하는 메시지가 도착했어요!</span>
                {% endif %}
                -->
                <ul>
                  {% for message in messages  %}
                    <li>
                      <!-- 메시지가 공개일 경우 모두에게 보여준다. -->
                      {% if not message.is_private %}
                      <div class="messages__content__message">
                        <div class="message__content__top">
                          <img class="message__profile" src="{{ message.profile_img }}" alt="">
                          <div class="message__nickname-delete-btn">
                            <h6 class="message__nickname">{{ message.nickname }}</h6>
                            <!-- 삭제 버튼 -->
                            <div class="messages__delete-btn">
                              {% if is_owner or request.user == message.sender %}
                                {% if birthday_page.state != "archive" %}
                                  <button id={% url 'posts:delete_message' message.id %} class="delete-btn" data-html2canvas-ignore="true">
                                    삭제
                                  </button>
                                  {% endif %}
                              {% endif %}
                            </div>
                          </div>
                        </div>
                          <h6 class="message__message">{{ message.message }}</h6>
                      </div>
                      
                      <!-- 메시지가 비공개일 경우 메시지를 쓴 사람과 owner에게만 보여준다. -->
                        {% else %}
                        {% if is_owner or request.user == message.sender %}
                        <div class="messages__content__message">
                          <div class="message__content__top">
                            <img class="message__profile" src="{{ message.profile_img }}" alt="">
                            <div class="message__nickname-delete-btn">
                              <h6 class="message__nickname">
                                <img src="{% static 'img\icon\lock.svg' %}" alt="">
                                {{ message.nickname }}
                              </h6>
                              <!-- 삭제 버튼 -->
                              <div class="messages__delete-btn">
                                {% if is_owner or request.user == message.sender %}
                                  {% if birthday_page.state != "archive" %}
                                  <button id={% url 'posts:delete_message' message.id %} class="delete-btn" data-html2canvas-ignore="true">
                                    삭제
                                  </button>
                                  {% endif %}
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <h6 class="message__message">{{ message.message }}</h6>
                      </div>
                        {% else %}
                        <div class="messages__content__message">
                          <div class="message__content__top">
                            <img class="message__profile" src="{{ message.profile_img }}" alt="">
                            <div class="message__nickname-delete-btn">
                              <h6 class="message__nickname">
                                <img src="{% static 'img\icon\lock.svg' %}" alt="">
                                비공개
                              </h6>
                              <!-- 삭제 버튼 -->
                              <div class="messages__delete-btn">
                                {% if is_owner or request.user == message.sender %}
                                  {% if birthday_page.state != "archive" %}
                                    <a href="{% url 'posts:delete_message' message.id %}" data-html2canvas-ignore="true">삭제</a>
                                  {% endif %}
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <h6 class="message__message">속닥속닥... 비밀 메시지입니다.</h6>
                      </div>
                        {% endif %}
                      {% endif %}
                    </li> 
                    <hr/>                                
                  {% endfor %}
                </ul>

              {% else %}
                {% if not birthday_page.state == "waiting"%}
                  {% if is_onwer %}
                    <p class="messages--empty">페이지 링크 복사하기를 눌러 친구들에게 공유해보세요.</p>
                  {% else %}
                    <p class="messages--empty">가장 먼저 축하 메시지를 남겨보세요.</p>
                  {% endif %}
                {% endif %}
              {% endif %}
              </div>
          {% endif %}
              


        </div>
      </div>
    </div>

    
    <!-- 페이지 링크 복사하기 버튼 -->
    {% if birthday_page.state != "archive" and birthday_page.state != "waiting" and is_owner %}
      <button class="floating-btn" onclick="clip();">
        <p class="floating-btn__text">페이지 링크 복사하기</p>
      </button>
    {% endif %}

    <!-- 축하 메시지 남기기 버튼-->
    {% if not is_owner %}
      {% if not birthday_page.state == "archive" %}
        <div class="floating-btn" id="login-btn">
          <p class="floating-btn__text">축하 메시지 남기기</p>
        </div>
      {% endif %}
    {% endif %}

    {% if birthday_page.state == "upcoming" or birthday_page.state == "today" or birthday_page.state == "archive" %}
    <footer>
      <div><a href="{% url 'posts:detail_birthday_page' target_birth.year target_birth.pk %}">축하메세지</a></div>
      <div><a href="{% url 'photos:photo_home' target_photo.year target_photo.photo_origin.pk %}">포토방명록</a></div>
      <div><a href="{% url 'tmies:detail_tmi_page' target_tmi.year target_tmi.tmi_origin.pk%}">내 친구의 TMI</a></div>
    </div>
    {% endif %}
    
  </body>
  
    <!--삭제 모달-->
    <div class="modal__delete hidden">
      <div class="modal__delete__overlay"></div>
      <div class="modal__delete__content">
        <span class="modal__delete__content__title">정말 삭제하시겠어요?</span>
        <div class="modal__delete__content__description">
          삭제한 메시지는 되돌릴 수 없어요.
        </div>
        <div class="modal__delete__content__btns">
          <button class="modal__delete__cancel">취소</button>
          <a href="" class="modal__delete__confirm">삭제</a>
        </div>
      </div>
    </div>

    <!-- 로그인 모달-->
    <div class="modal__login hidden">
      <div class="modal__login__overlay"></div>
      <div class="modal__login__content">
        <span class="modal__login__content__title">로그인 하지 않고<br/>메시지를 남기시겠어요?</span>
        <div class="modal__login__content__description">
          로그인을 하면 비밀 메시지를<br/>남길 수 있고, 내가 남긴 메시지를<br/>수정하거나 삭제할 수 있어요.
        </div>
        <div class="modal__login__content__btns">
          <div class="login__social_login">
            <form action="{% provider_login_url 'kakao' %}" method="post">
              {% csrf_token %}
                <button type="submit" id="login__kakao">
                  <img src="{% static 'img/kakao-logo.png' %}">
                  <span class="kakao__text"> 카카오로 로그인</span>
                </button>
            </form>
            <form action="{% provider_login_url 'naver' %}" method="post">
              {% csrf_token %}
              <button type="submit" id="login__naver"><img src="{% static 'img/naver-logo.png' %}"><span class="naver__text"> 네이버로 로그인</span></button>
            </form>
            <form action="{% provider_login_url 'google' %}" method="post">
              {% csrf_token %}
              <button type="submit" id="login__google"><img src="{% static 'img/google-logo.png' %}"><span class="google__text"> 구글로 로그인</span></button>
            </form>
            <div class="login__no" id="login__no">
              <a href="{% url 'posts:create_message' year pk %}" class="login__no__text">로그인 하지 않을래요</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>


    {% if birthday_page.state == "upcoming" or birthday_page.state == "today" or birthday_page.state == "archive" or photo_page.state == "activate" or tmi_page.state == "activate"%}
    <footer>
      <div class="footer__style">
       
      <a class="footer__birthdaypage" href="{% url 'posts:detail_birthday_page' target_birth.year target_birth.pk %}">축하 메세지</a>
       
     <span></span>
       
      <a class="footer__photo" href="{% url 'photos:photo_home' target_photo.year target_photo.photo_origin.pk %}">포토 방명록</a>
      <span></span>
   
      <a class="footer__tmi" href="{% url 'tmies:detail_tmi_page' target_tmi.year target_tmi.tmi_origin.pk%}">내 친구의 TMI</a>
       
    </div>
    </footer>
    {% endif %}
   
    <script>
      //screenshot 기능
      function screenshot() {
        html2canvas(document.getElementById("screenshot")).then(function (canvas) {
          saveAs(canvas.toDataURL('image/jpg'), 'screenshotTest.jpg');
        })
      }

      function saveAs(uri, filename) {
        var link = document.createElement('a');
        if (typeof link.download === 'string') {
          link.href = uri;
          link.download = filename;
          document
            .body
            .appendChild(link);
          link.click();
          document
            .body
            .removeChild(link);
        } else {
          window.open(uir);
        }
      }

      const clip = () => {
        navigator.clipboard.writeText(window.location.href);
      }

      //삭제 모달
      const openButtonDelete = document.getElementsByClassName("delete-btn");
      const modalDelete = document.querySelector(".modal__delete");
      const cancelButtonDelete = modalDelete.querySelector(".modal__delete__cancel");
      const deleteButtonDelete = modalDelete.querySelector(".modal__delete__confirm");

      const openModalDelete = (e) => {
        deleteButtonDelete.href = e.target.id;
        modalDelete.classList.remove("hidden");
      }
      const cancelModalDelete = () => {
        modalDelete.classList.add("hidden");
      }

      for (i=0; i<openButtonDelete.length; i++) {
        openButtonDelete[i].addEventListener("click", openModalDelete);
      }
      cancelButtonDelete.addEventListener("click", cancelModalDelete);


      //로그인 모달
      const openButtonLogin = document.getElementById("login-btn");
      const modalLogin = document.querySelector(".modal__login");
      const closeButtonLogin = document.getElementById("login__no");

      const openModalLogin = () => {
        modalLogin.classList.remove("hidden");
      }
      const closeModalLogin = () => {
        modalLogin.classList.add("hidden");
      }
      
      openButtonLogin.addEventListener("click", openModalLogin);
      closeButtonLogin.addEventListener("click", closeModalLogin);

    </script>


{% endblock %}