{% extends 'posts/base_mypage.html' %} 
{% block title %}
  마이페이지
{% endblock %}
{%block content %}
{% load static %}
  <script src="https://kit.fontawesome.com/f578b19b63.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/edit_mypage.css' %}" />
  <body>
    <form action="/mypage/edit" method="POST">
      {% csrf_token %}
      <div class="content">
        <table>
          <div class="editmypage_name">
            <span class="edit_mypage--name">이름을 알려주세요.</span>
            {{form.nickname}}
          </div>
          <div>
            <div class="edit_mypage--theme">
              <span class="edit_mypage--theme--text">변경할 생일페이지 테마를 선택해주세요.</span>
            </div>
            {{form.selected_cake}}
          </div>
        </table>
        <input type="submit" class="editmypage--submit" value="수정하기"/>
      </div>
    </form>
  </body>
{% endblock %}
