{% extends 'posts/base.html' %}
{% block title %}
  마이페이지
{% endblock %}
{%block content %}
  <script src="https://kit.fontawesome.com/f578b19b63.js" crossorigin="anonymous"></script>

  <body>
    <div>
      😎프로필 사진 영역
    </div>
    <div>
      {{curr_user.full_name}}님
    </div>
    <hr>
    <div>
      <p>
        내 생일 페이지
      </p>
      {% if target_pages %}
        {% for target_page in target_pages %}
          {% if target_page.state == "today" or target_page.state == "upcoming" %}
            <a href="{% url 'posts:edit_mypage' %}">
              내 정보 수정
            </a>
            <div>
              <form action="{% url 'posts:detail_birthday_page' target_page.year target_page.id %}">
                {% csrf_token %}
                <button>
                  {{ target_page.year }}년
                  {{ target_page.owner.birthday.month }}월
                  {{ target_page.owner.birthday.day }}일
                </button>
              </form>
            </div>
          {% elif target_page.state == "waiting" %}
            <div>
              아직 생일 페이지가 활성화되지 않았어요!
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <p>
        지난 생일 페이지
      </p>
      {% if target_pages %}
        {% if archived_flag == True %}
          {% for target_page in target_pages %}
            {% if target_page.state == "archive"%}
              <form action="{% url 'posts:detail_birthday_page' target_page.year target_page.id %}">
                {% csrf_token %}
                <button>
                  {{ target_page.year }}년
                  {{ target_page.owner.birthday.month }}월
                  {{ target_page.owner.birthday.day }}일
                </button>
              {% endif %}
            {% endfor %}
          {% else %}
            <p>
              아직 저장된 지난 생일 페이지가 없어요!
            </p>
          {% endif %}
        {% endif %}

      </div>
    </body>
  {% endblock %}
