<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script> {% endcomment %}
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
  </head>

  <body>
    <div id="screenshot">
      {% for post in posts %}
        <div>
          작성자 :
          {{ post.nickname }}
        </div>

        <div>
          {% if post.is_private == False %}
            속닥속닥
          {% else %}
            {{ post.message }}
          {% endif %}
        </div>
        <hr/>
      {% endfor %}
    </div>

    <div>
      <button onclick=screenshot() type="button" id="save">Save Screenshot</button>
    </div>

    <div>
      <div id="img"></div>
    </div>

    <script>
      function screenshot() {
        html2canvas(document.getElementById("screenshot")).then(function (canvas){
          saveAs(canvas.toDataURL('image/jpeg'), 'screenshotTest.jpg');
        })
      }

      function saveAs(uri, filename){
        var link = document.createElement('a');
        if (typeof link.download === 'string') {
          link.href = uri;
          link.download = filename;
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        } else {
          window.open(uir);
        }
      }
    </script>

        {% comment %} jquery 사용
     <script>
      $(function () {
        $("#save").click(function () {
          html2canvas($('#screenshot').get(0)).then(function (canvas) {
            saveAs(canvas.toDataURL('image/jpg'), "screenshotTest.jpg");
          })
        })

        function saveAs(uri, filename) {
          var link = document.createElement('a');
          if (typeof link.download === 'string') {
            link.href = uri;
            link.download = filename;
            document
              .body
              .appendChild(link);
            link.click();
            document
              .body
              .removeChild(link);
          } else {
            window.open(uri);
          }
        }
      })
    </script> {% endcomment %}
  </body>

</html>
