<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <form action="{% url 'posts:write' %}" method="post" enctype="multipart/form-date">
      {% csrf_token %}
      <div>
        <div>
          From.
        </div>
        <div>
          <input type="text" name="nickname" placeholder="닉네임을 입력해주세요">
        </div>
      </div>
      <div>
        <div>
          축하메시지
        </div>
        <div>
          공개 여부
          <input type="checkbox" name="is_private" value="1">
        </div>
        <div>
          <textarea name="message" cols="30" rows="10" placeholder="메시지를 입력해주세요"></textarea>
        </div>
      </div>
    </div>
    <div>
      <input type="submit" value="제출">
    </div>
  </form>
</body>

</html>